<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kt_map">
    <link name="map"/>

    <link name="marker_0"/>
    <joint name="map_to_marker_0" type="fixed">
        <origin rpy="0 3.14 0" xyz="1 0 2.3"/>
        <parent link="map"/>
        <child link="marker_0"/>
    </joint>

</robot>