<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find james_gazebo)/worlds/james.world"/>
    <arg name="paused" value="true"/>
    <!-- more default parameters can be changed here -->
  </include>
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find james_description)/urdf/james.urdf.xacro'"/>
  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -z 0.5 -model james -param robot_description" />
</launch>